node_modules
_public/themes/default/bower_components
_public/themes/default/css
_public/themes/default/images
_public/themes/default/js/script.js
_public/themes/default/templates
_public/themes/default/less/pages
.ideia